.dashboardContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 2fr));
  gap: 20px;
  height: 100%;
  align-items: stretch;
}

@media (max-width: 960px) {
  .dashboardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
